<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" href="https://i.ibb.co.com/4NMNZsv/vector-chat-icon-png-302635.jpg" type="image/x-icon">
    <title>QuikTalk</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
</head>

<body>
    <div class="chat-container">
        <h1>Real-Time Chat</h1>
        <div id="messages"></div>
        <input type="text" id="message-input" placeholder="Type a message">
        <button onclick="sendMessage()">Send</button>
    </div>

    <script src="../static/js/chat.js"></script>
</body>

</html>